<div data-turbo='false'>
  <%= form_for current_user.posts.new do |f| %>
    <div>
      <div class='d-flex flex-column'>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </div>

      <%= f.submit :Save, class: 'mt-5 btn btn-outline-success', style: 'margin-right: 5px; float: right' %>
    </div>
  <% end %>
</div>