<%=  turbo_frame_tag 'home' do %>
  <div class='d-flex'>
    <%= render 'sidebar', active: active %>

    <div  style='min-height: 40rem; margin-left: 30px; width: 100%'>
      <%= yield %>
    </div>
  </div>
<% end %>
