<%= render 'homepage', active: 'landing' do %>
  <div id='landing'>
    <%= render 'shared/modal', title: 'Create New Post' do %>
      <%= render 'create_post_form' %>
    <% end %>

    <h1 style='margin-left: 5rem; margin-top: 5px'>Home</h1>

    <hr>

    <button class='btn btn-outline-success' style='margin-left: 15px' data-controller="modal" data-action="click->modal#toggle_modal">
      <i class="fa-solid fa-square-plus"></i>

      Create New Post
    </button>

    <hr style='margin-bottom: 0; margin-right: 25px'>

    <div id='posts_container' style='margin-right: 25px; background: #f6f6f6'>
      <% Post.page(1).per(2).each do |p| %>
        <%= render 'post', post: p %>
      <% end %>
    </div>
  </div>
<% end %>
