<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand mx-3">ActChat</a>
  <form class="form-inline d-flex">
    <a href='#' class='btn btn-outline-info mx-1'>Sign Up</a>
    <a href='#' class='btn btn-outline-primary mx-2'>Log In</a>
  </form>
</nav>