<nav class="navbar navbar-light bg-light justify-content-between shadow-sm bg-white rounded">
  <a href="/" class="navbar-brand mx-3 text-primary">
    <i class="fa-solid fa-champagne-glasses"></i>

    ActChat
  </a>

  <form class="form-inline d-flex">
    <a href='#' class='btn btn-outline-info mx-1'>
      <i class="fa-solid fa-user-plus"></i>

      Sign Up
    </a>

    <a href='#' class='btn btn-outline-primary mx-2'>
      <i class="fa-solid fa-arrow-right-to-bracket"></i>

      Log In
    </a>
  </form>
</nav>